body {
  background-color: black;
  color: white;
}

img.small {
  width: 100px;
  height: 100px;
}

img.align-left {
  float: left;
  margin-right: 10px;
}

img.align-center {
  display: block;
  margin: 0px auto;
}

img:hover {
  width: 200px;
  height: 200px;
}

h1 {
  color: blue;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: "Courier New", monospace;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

a:visited {
  color: blue;
}

a:hover {
  color: red;
  font-weight: bold;
}

table {
  width: 100%;
}

td {
  border-right: 1px solid #0088dd;
  border-top: 1px solid #0088dd;
  border-bottom: 1px solid #0088dd;
  border-left: 1px solid #0088dd;
  text-align: center;
}
